.navbar {
    width: 100%;
    background-color: burlywood;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: rgb(150, 40, 40);
    margin-right: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}

.nav-link:hover,
.nav-link:focus {
    color: #61dafe;
    background-color: #555;
}

.nav-links li {
    margin: 10px 0;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}